html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h3 {
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 25px;
  color: #526e79
}

h6 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #2698C0;
  font-weight: 600;
}

a {
  transition: all ease-in .15s;
}

a:hover {
  opacity: .6;
}

section {
  width: 100%;
}

.section-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 30px;
}

/* NAVBAR */

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar .section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: 100%;
}

.navbar img {
  height: 70px;
}

.navbar h5 {
  font-size: 16px;
  margin: 0;
  color: #fff;
  font-weight: 400;
  opacity: 0;
}

.menu {
  display: flex;  
}

.menu a {
  text-decoration: none;
  color: #fff;
  margin-left: 70px;
  white-space: nowrap;
}

/* COVER */

.cover {
  background-color: #2698C0;
  position: relative;
  height: 500px;
}

.cover .cover-img {
  background-image: url('assets/cover.png');
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity ease-in-out .4s; 
  opacity: 0;
}

.cover .cover-img.visible {
  opacity: 1;
}

.cover .section-content {
  display: flex;
  height: 500px;
  align-items: center;
  position: absolute;
}

.cover .texts {
  color: white;
}

.cover .texts h2 {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}

.cover .texts h5 {
  font-weight: 100;
  font-size: 2em;
  margin: 0;
}

.cover .texts p {  
  font-weight: 300;
  margin-bottom: 10px;
}

.cover .texts i {  
  margin-right: 10px;
  font-size: 16px;
  opacity: .8;
}

.cover .line {  
  max-width: 400px;
  width: 100%;
  height: 2px;
  background: #ffffff50;
  margin: 20px 0;
}

/* TREATMENTS */

.treatments {
  background: #eff6f9;
}

.treatments h6 {  
  display: flex;
  align-items: center;
}

.treatments h6:last-child {
  margin-bottom: 0;
}

.treatments i {

  font-size: 8px;
  margin-right: 8px;
  /* line-height: 16px; */
  color: #7dbed6;
}

.treatments .treatments-boxes {
  display: flex;
  justify-content: space-between;
}

.treatments .treatments-boxes .box { 
  background: #fff;
  border: 1px solid #00101020;
  box-shadow: 0px 2px 7px 1px #00101015;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  margin-top: 30%;
  transition: all ease-out .7s;
  opacity: 0;
}

.treatments .treatments-boxes .box.visible {
  margin-top: 0;
  opacity: 1;
}

.treatments .treatments-boxes .box:first-child { 
  margin-right: 40px;    
}

.treatments .treatments-boxes .box:last-child { 
  margin-left: 40px;
}

.treatments .box p {
  margin-bottom: 10px;
}

.treatments .box p:last-child {
  margin-bottom: 0px;
}

/* BOOKINGS */

.bookings {
  background: #fbfcfd;
}

.bookings .section-content {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}

.bookings .booking-info {
  width: 50%;
  padding: 50px 0;
  margin-top: 175px;
  transition: all ease-out .5s;
  opacity: 0;
}

.booking-info.visible {
  opacity: 1;
  margin-top: 0;
}

.bookings .booking-info p {
  margin-bottom: 30px;
}

.bookings .booking-info h4 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #2698C0;
}

.bookings .booking-info a {
  color: #2698C0;
  text-decoration: none;
}

.bookings .booking-info i {
  color: #2698C040;
  margin-right: 10px;
}

.bookings .booking-calendar {
  width: 100%;
  height: 610px;
}

.calendly-inline-widget {
  height: 750px !important;
  transform: scale(0.8);
  top: -75px;
  right: -118px;
  overflow: hidden !important;
}

.prices-info {
  width: 50%;
  padding: 20px;
}

.prices-info .price-card {
  background: #2698C0;
  background: linear-gradient(331deg, rgba(29,126,164,1) 0%, rgba(38,152,192,1) 26%, rgb(0 215 255) 100%);
  height: 300px;
  margin: 0 auto;
  width: auto;
  text-align: center;
  color: #fff;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 0px 4px 12px 1px #0a323940, 0px 2px 3px 0px #0a323950;
}

.price-card h2 {
  font-weight: 300;
}

.price-card h1 {
  font-size: 85px;
  font-weight: 300;
}

.price-card h1 small {
  font-size: 60px;
  font-weight: 500;
  margin-left: 8px;
}

.price-card h4 {  
  font-weight: 500;
}

.legal {
  font-size: 12px;
  width: 350px;
  margin: 10px auto;
  color: #526e79;
}
/* ABOUT */

.about .section-content {
  display: flex;
}

.picture-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.picture-jesus {
  background-image: url('assets/jr.png');
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
  opacity: 0;
  transform: scale(0.7);
  transition: all ease-out .4s;
}

.picture-jesus.visible {
  transform: scale(1);
  opacity: 1;
}

.about .curriculum {  
  width: 50%;
  padding-left: 50px;
}

.curriculum .about-info {
  margin-bottom: 30px;
}

.curriculum .curriculum-wrapper {
  max-width: 500px;
}

.curriculum .cv-title {
  font-weight: 500;
  color: #002a3b;
  margin-bottom: 5px;
}

.curriculum .cv-title i {
  color: #002a3b40;
  margin-right: 5px;
}

.curriculum .cv-info {
  font-size: 14px;
  color: #526e79;
  margin-bottom: 20px;
  padding-left: 25px;
}

/* MAP */

.map {
  background-image: url('assets/map.png');
  background-size: cover;  
  background-position: 18% center;
  width: 100%;
  height: 650px;
}

/* FOOTER */

footer {
  background: #002a3b;
  color: #fff;
  font-weight: 300;
}

footer .section-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .vertical-line {
  margin: 0 10px;
  width: 3px;
  height: 20px;
  background: #2698C040;
}

footer p {
  margin: 0 20px;
  white-space: nowrap;
  font-size: 14px;
}


footer i {
  margin: 0 20px;
  margin-right: 10px;
  opacity: .4;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1200px) { 

  .calendly-inline-widget {
    right: -10%;
    min-width: 650px !important;
  }

}

@media only screen and (max-width: 768px) {

  .section-content {
    padding: 40px 20px;
  }

  .treatments .section-content,
  .bookings .section-content,
  .about .section-content {    
    max-width: 500px;
    margin: 0 auto;;
  }

  .treatments .treatments-boxes,
  .bookings .section-content,
  .about .section-content,
  footer .section-content {
    flex-direction: column;
  }

  .navbar .section-content {
    height: auto;    
    padding: 20px 30px;
  }
  
  .navbar .menu {
    flex-direction: column;
  }
  
  .menu a {
    margin-bottom: 10px;
  }

  .cover .section-content {
    padding: 40px 30px;
  }

  .treatments .treatments-boxes .box {
    width: 100%;
  }

  .treatments .treatments-boxes .box:first-child {
    margin: 0 0 30px;
  }

  .treatments .treatments-boxes .box:last-child {
    margin: 0;
  }

    
  .bookings .section-content {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .bookings .booking-info {
    width: 100%;
    padding-bottom: 0;
  }  

  .prices-info {
    width: 100%;
  }

  .calendly-inline-widget {    
    right: auto;
    min-width: 100% !important;
  }

  .bookings .booking-calendar {
    height: 500px;
    overflow: hidden;
  }

  .about .picture-container {
    justify-content: center;
    padding-right: 0px;
    width: 100%;
  }

  .about .picture-jesus {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .about .curriculum {
    width: 100%;
    padding-left: 0;
  }

  .curriculum .curriculum-wrapper {
    margin: auto;
  }

  footer .vertical-line {
    display: none;
  }

  footer p {
    margin: 0 0 20px;
  }

  footer p:last-child {
    margin: 0;
  }

}


@media only screen and (max-width: 689px) {

  .bookings .booking-calendar {
    height: 520px;
    overflow: hidden;
  }

}